<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Facturas</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarEmpleado">
                            <i class="fas fa-plus"></i> [[#{empleado.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar facturas - Ventana modal -->
        <section th:fragment="agregarfactura">
            <div id="agregarFacturas" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{facturas.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/facturas/guardar}" th:object="${facturas}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="id_factura">[[#{facturas.id_factura}]]</label>
                                    <input type="int" class="form-control" name="id_factura" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="id_cliente">[[#{facturas.id_cliente}]]</label>
                                    <input type="int" class="form-control" name="id_cliente" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="id_empleado">[[#{facturas.id_empleado}]]</label>
                                    <input type="int" class="form-control" name="id_empleado" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="monto">[[#{facturas.monto}]]</label>
                                    <input type="int" class="form-control" name="correo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="productos_adquiridos">[[#{facturas.productos_adquiridos}]]</label>
                                    <input type="int" class="form-control" name="productos_adquiridos" required="true"/>
                                </div>
                                    <div class="mb-3">
                                    <label for="subtotal">[[#{facturas.subtotal}]]</label>
                                    <input type="int" class="form-control" name="subtotal" required="true"/>
                                </div>
                                   </div>
                                    <div class="mb-3">
                                    <label for="subtotal">[[#{facturas.subtotal}]]</label>
                                    <input type="int" class="form-control" name="subtotal" required="true"/>
                                </div>
                               </div>
                                    <div class="mb-3">
                                    <label for="montoTotal">[[#{facturas.montoTotal}]]</label>
                                    <input type="int" class="form-control" name="montoTotal" required="true"/>
                                </div>
                               <div class="mb-3">
                                    <label for="activo">[[#{facturas.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoFacturas" id="facturas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{facturas.listado}]]</h4>
                            </div>
                            <div th:if="${facturas != null and !empleados.empty}">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>[[#{facturas.id_factura}]]</th>
                                                <th>[[#{facturas.id_cliente}]]</th>
                                                <th>[[#{facturas.id_empleado}]]</th>
                                                <th>[[#{facturas.productos_adquiridos}]]</th>
                                                <th>[[#{facturas.subtotal}]]</th>
                                                <th>[[#{facturas.montoTotal}]]</th>
                                                <th>[[#{facturas.activo}]]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="facturas, contador : ${facturas}">
                                                <th>[[#{facturas.id_factura}]]</th>
                                                <th>[[#{facturas.id_cliente}]]</th>
                                                <th>[[#{facturas.id_empleado}]]</th>
                                                <th>[[#{facturas.productos_adquiridos}]]</th>
                                                <th>[[#{facturas.subtotal}]]</< .mnjhjupnmñ .m,
*].th2
                                                <th>[[#{facturas.montoTotal}]]</th>
                                                <td th:text="${facturas.activo} ? 'Activa' : 'Inactiva'"></td>
                                                <td>
                                                    <a th:href="@{/facturas/eliminar/}+${empleado.idFacturas}" class="btn btn-danger">
                                                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                    </a>
                                                    <a th:href="@{/facturas/modificar/}+${facturas.idFacturas}" class="btn btn-success">
                                                        <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-center p-2" th:if="${facturas == null or facturas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{facturas.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalFacturas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>

    <!-- 4 Fragmento que se utiliza en la pagina modifica.html-->
        <section th:fragment="editarfacturas">
            <section th:fragment="editarfacturas">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form method="POST"
                              th:action="@{/facturas/guardar}" 
                              th:object="${facturas}"
                              class="was-validated"                          
                              enctype="multipart/form-data">
                            <input type="hidden" name="idFacturas" th:field="*{idfacturas}"/>
                            <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                            <section th:replace="~{empleado/fragmentos :: botonesEditar}"/>
                            <div id=details>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4>[[#{accion.actualizar}]]</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="id_factura">[[#{facturas.id_factura}]]</label>
                                                        <input type="int" class="form-control" 
                                                               name="id_factura" th:field="*{id_factura}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="id_cliente">[[#{facturas.id_cliente}]]</label>
                                                        <input type="int" class="form-control" 
                                                               name="id_cliente" th:field="*{id_cliente}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="id_empleado">[[#{facturas.id_empleado}]]</label>
                                                        <input type="int" class="form-control" 
                                                               name="id_empleado" th:field="*{id_empleado}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="productos_adquiridos">[[#{facturas.productos_adquiridos}]]</label>
                                                        <input type="int" class="form-control" 
                                                               name="productos_adquiridos" th:field="*{productos_adquiridos}"
                                                               required="true">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="metodoPago">[[#{facturas.metodoPago}]]</label>
                                                        <input type="text" class="form-control" 
                                                               name="metodoPago" th:field="*{metodoPago}"
                                                               required="true">
                                                    <div class="mb-3">
                                                        <label for="activo">[[#{facturas.activo}]]</label>
                                                        <input class="form-check-input" 
                                                               type="checkbox" 
                                                               name="activo" 
                                                               id="activo"
                                                               th:field="*{activo}">
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>

            </section>

            <!-- 5 Fragmento que se utiliza en el fragmento anterior-->
            <section th:fragment="botonesEditar">
                <div class="container py-4 mb-4 bg-light">
                    <div class="row">
                        <div class="col-md-4 d-grid">
                            <a th:href="@{/facturas/listado}" class="btn btn-primary">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-4 d-grid">                                
                            <a th:href="@{/facturas/eliminar/}+${facturas.idfacturas}"
                               class="btn btn-danger">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                        <div class="col-md-4 d-grid">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                    </div>
                </div>

            </section>

    </body>
</html>
